<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <title>LOST & FOUND</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:regular,700,600&amp;latin" type="text/css" />
        <!-- Essential styles -->
        <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/assets/plugins/font-awesome/css/font-awesome.css}" type="text/css">

        <!-- Dlapak styles -->
        <link id="theme_style" type="text/css" th:href="@{/assets/css/style1.css}" rel="stylesheet" media="screen">

        <!-- /Assets -->
        <link rel="stylesheet" th:href="@{/assets/plugins/owl-carousel/owl.carousel.css}">
        <link rel="stylesheet" th:href="@{/assets/plugins/owl-carousel/owl.theme.css}">
        <link rel="stylesheet" th:href="@{/assets/plugins/flexslider/flexslider.css}" type="text/css" media="screen" />

        <!-- JS Library -->
        <script th:src="@{/assets/js/jquery.js}"></script>

    </head>
    <body>
        <div class="wrapper">
<!--            <div th:replace="menu/header::header"></div>-->
            <div th:replace="menu/header::header(operation=${selectedOperation})"></div>

            <!--            <header class="navbar navbar-default navbar-fixed-top navbar-top">-->
<!--                <div class="container">-->
<!--                    <div class="navbar-header">-->
<!--                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">-->
<!--                            <span class="sr-only">Toggle navigation</span>-->
<!--                            <span class="icon-bar"></span>-->
<!--                            <span class="icon-bar"></span>-->
<!--                            <span class="icon-bar"></span>-->
<!--                        </button>-->
<!--                        <a th:href="@{/user/index}" class="navbar-brand"><span class="logo"><i class="fa fa-recycle"></i> Lost & Found</span></a>-->
<!--                    </div>-->

<!--                    <div class="navbar-collapse collapse">-->
<!--                        <ul class="nav navbar-nav navbar-right">-->
<!--                            <li><a th:href="@{/user/category(operation=0)}" class="btn" style="font-size: medium">失物招领</a></li>-->
<!--                            <li><a th:href="@{/user/category(operation=1)}" class="btn" style="font-size: medium">寻物启事</a></li>-->
<!--                            <li><a th:href="@{#}" class="btn" style="font-size: medium">常见问题</a></li>-->
<!--                            <li><a th:href="@{#}" class="btn" style="font-size: medium">关于我们</a></li>-->
<!--                            <li><a th:href="@{#}" class="btn" style="font-size: medium">联系我们</a></li>-->

<!--                            &lt;!&ndash;                            <li class="dropdown" th:if="${not #strings.isEmpty(session.get('user'))}">&ndash;&gt;-->
<!--                            <li class="dropdown">-->
<!--                                &lt;!&ndash;                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="font-size: medium"><strong class="caret"></strong>&nbsp;帮助</a>&ndash;&gt;-->
<!--                                <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-user"></i> <strong class="caret"></strong>&nbsp;</a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li><a th:href="@{/user/profile}" style="font-size: medium">个人信息</a></li>-->
<!--                                    <li><a th:href="@{#}" style="font-size: medium">发布信息</a></li>-->
<!--                                    <li><a th:href="@{/toLogout}" style="font-size: medium">登出</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->

<!--                            &lt;!&ndash;                            <li class="dropdown" th:if="${#strings.isEmpty(session.get('user'))}">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-user"></i> <strong class="caret"></strong>&nbsp;</a>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <div class="dropdown-menu dropdown-login" style="padding:15px;min-width:250px">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <form>                       &ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <div class="form-group">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            <div class="input-group">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                <span class="input-group-addon addon-login"><i class="fa fa-user"></i></span>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                <input type="text" placeholder="Username or email" required="required" class="form-control input-login">                                            &ndash;&gt;-->
<!--                            &lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <div class="form-group">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            <div class="input-group">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                <span class="input-group-addon addon-login"><i class="addon fa fa-lock"></i></span>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                <input type="password" placeholder="Password" required="required" class="form-control input-login">                                            &ndash;&gt;-->
<!--                            &lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <div class="form-group">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            <div class="checkbox">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                <label class="string optional" for="user_remember_me">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                    <input type="checkbox" id="user_remember_me" style="">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                    Remember me&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                </label>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <input type="submit" class="btn btn-custom btn-block" value="登录">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <a th:href="@{/user/signup}" class="btn btn-custom btn-block">注册</a>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <a href="#" class="btn-block text-center">Forgot password?</a>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </form>                                    &ndash;&gt;-->
<!--                            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </li>&ndash;&gt;-->


<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </header>-->
            <section class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="breadcrumb pull-left">
                                <li><a href="#">首页</a></li>
                                <li><a th:href="@{/user/category(categoryType=${goods.getCategory().getType()})}" th:text="${goods.getCategory().getName()}"></a></li>
                                <li>商品详情</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="post">
                                        <div class="post-price">
                                            <span th:text="${goods.getOperation().getName()}"></span>
                                        </div>
                                        <div class="post-title">
                                            <h2 th:text="${goods.getTitle()}"></h2>
                                        </div>
                                        <div class="post-meta">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i><span th:text="${goods.getCreateDate()}">2 minutes ago</span> </li>
                                                <li><i class="fa fa-bars"></i> <a th:href="@{/user/category(categoryType=${goods.getCategory().getType()})}" th:text="${goods.getCategory().getName()}">Electronic</a>
                                                <li><i class="fa fa-map-marker"></i> <a th:href="@{/user/category(positionId=${goods.getLocation().getId()})}" th:text="${goods.getLocation().getPosition()}" >Mountain View</a></li>
                                                <li><i class="fa fa-bookmark"></i> <span th:text="${goods.getStatus().getMsg()}">Used</span></li>
                                            </ul>
                                        </div>
                                        <div class="flexslider post-images">
                                            <ul class="slides" th:each="img:${goods.getImgSrcList()}">
                                                <li  th:if="${#strings.isEmpty(img)}"  th:data-thumb="@{/icons/emptyImg.png}">
                                                    <img alt="暂无图片" th:src="@{/icons/emptyImg.png}" />
                                                </li>
                                                <li th:if="${not #strings.isEmpty(img)}"  th:data-thumb="${img}">
                                                    <img alt="" th:src="${img}" />
                                                </li>
<!--                                                <li data-thumb="/assets/img/products/item-3.jpg">-->
<!--                                                    <img alt="" th:src="@{/assets/img/products/item-3.jpg}" />-->
<!--                                                </li>-->
<!--                                                <li data-thumb="/assets/img/products/item-4.jpg">-->
<!--                                                    <img alt="" th:src="@{/assets/img/products/item-4.jpg}" />-->
<!--                                                </li>-->
                                            </ul>

                                        </div>
                                        <div class="post-body">
                                            <h4><strong>描述</strong></h4>
<!--                                            <ul>-->
<!--                                                <li>Display : 14 inch Gorilla Glass</li>-->
<!--                                                <li>Processor : Intel Core i7</li>-->
<!--                                                <li>Memory : 4GB</li>-->
<!--                                                <li>Storage : 320 GB</li>-->
<!--                                                <li>Baterai : Good</li>-->
<!--                                            </ul>-->
                                            <p th:text="${goods.getDescription()}">
<!--                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.-->
                                            </p>
<!--                                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur-->
<!--                                            </p>-->
                                        </div>
                                        <div class="post-footer">
                                            <div class="row" th:if="${goods.getStatus().getType().equals(T(com.suerte.lostandfound.eum.GoodsStatusEnum).REVIEW_PASSED.getType())}">
                                                <div class="col-xs-6" th:if="${not isApply}">
<!--                                                    <button class="btn btn-info"><i class="fa fa-whatsapp"></i> <span class="hidden-xs hidden-sm">0823 4223 4234</span></button>-->
                                                    <button th:if="${goods.getOperation().getType().equals(T(com.suerte.lostandfound.eum.OperationEnum).LOST.getType())}" class="btn btn-warning" data-target="#sendMessageModal" data-toggle="modal"><i class="fa fa-envelope"></i> <span class="hidden-xs hidden-sm" th:text="提供失物">Send Message</span></button>
                                                    <button th:if="${goods.getOperation().getType().equals(T(com.suerte.lostandfound.eum.OperationEnum).FOUND.getType())}"  class="btn btn-warning" data-target="#sendMessageModal" data-toggle="modal"><i class="fa fa-envelope"></i> <span class="hidden-xs hidden-sm" th:text="认领物品">Send Message</span></button>
                                                </div>
                                                <div class="col-xs-6" th:if="${isApply}">
                                                    <!--                                                    <button class="btn btn-info"><i class="fa fa-whatsapp"></i> <span class="hidden-xs hidden-sm">0823 4223 4234</span></button>-->
                                                    <button disabled class="btn btn-warning" data-target="#sendMessageModal" data-toggle="modal"><i class="fa fa-envelope"></i> <span class="hidden-xs hidden-sm" th:text="已申请">Send Message</span></button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="item-action pull-right">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Save Favorite" class="btn btn-success btn"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Show Details" class="btn btn-info btn"><i class="fa fa-share-alt"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" th:if="${goods.getStatus().getType().equals(T(com.suerte.lostandfound.eum.GoodsStatusEnum).REVIEW_PASSED.getType())}">
                                <div class="col-md-12">
                                    <div class="section-header">
                                        <span><h2 th:text="${goods.getUser().getName()+' 的更多发布'}" >More From John Doe</h2></span>
                                    </div>
                                    <div class="row"  >
                                        <div class="col-md-4"  th:if="${otherGoods.size()>0}"  th:each="other:${otherGoods}">
                                            <div class="item-ads-grid">
<!--                                                <div class="item-badge-grid featured-ads">-->
<!--                                                    <a href="#">Featured Ads</a>-->
<!--                                                </div>-->
                                                <div class="item-img-grid">
<!--                                                    <img alt="" th:src="@{/assets/img/products/product-1.jpg}" class="img-responsive img-center">-->
                                                    <img th:if="${not #strings.isEmpty(other.getImgSrcList().get(0))}" alt="" th:src="${other.getImgSrcList().get(0)}" class="img-responsive img-center">
                                                    <img th:if="${#strings.isEmpty(other.getImgSrcList().get(0))}" alt="暂无图片" th:src="@{/icons/emptyImg.png}" class="img-responsive img-center">

<!--                                                    <li  th:if=""  th:data-thumb="@{/icons/emptyImg.png}">-->
<!--                                                        <img alt="暂无图片" th:src="@{/icons/emptyImg.png}" />-->
<!--                                                    </li>-->
<!--                                                    <li   th:data-thumb="${img}">-->
<!--                                                        <img alt="" th:src="${img}" />-->
<!--                                                    </li>-->


                                                </div>
                                                <div class="item-title">
                                                    <a th:href="@{/user/detail(id=${other.getId()})}"><h4 th:text="${other.getTitle()}">Lenovo A326 Black 4GB RAM</h4></a>
                                                </div>
                                                <div class="item-meta">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i><span th:text="${other.getCreateDate()}">2 minutes ago</span> </li>
                                                        <li><i class="fa fa-bars"></i> <a th:href="@{/user/category(categoryType=${other.getCategory().getType()})}" th:text="${other.getCategory().getName()}">Electronic</a>
                                                        <li><i class="fa fa-map-marker"></i> <a th:href="@{/user/category(positionId=${other.getLocation().getId()})}" th:text="${other.getLocation().getPosition()}" >Mountain View</a></li>
<!--                                                        <li><i class="fa fa-bookmark"></i> <span th:text="${other.getStatus().getMsg()}">Used</span></li>-->
                                                        <!--                                                        <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 am</li>-->
<!--                                                        <li class="item-cat"><i class="fa fa-bars"></i> <a href="category.html">Electronics</a> , <a href="category.html">Smartphone</a></li>-->
<!--                                                        <li class="item-location"><a href="category.html"><i class="fa fa-map-marker"></i> Manchester</a></li>-->
<!--                                                        <li class="item-type"><i class="fa fa-bookmark"></i> New</li>-->
                                                    </ul>
                                                </div>
                                                <div class="product-footer">
                                                    <div class="item-price-grid pull-left">
                                                        <h3>$ 100</h3>
                                                        <span>Negotiable</span>
                                                    </div>
                                                    <div class="item-action-grid pull-right">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Save Favorite" class="btn btn-default btn-sm"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="detail.html" data-toggle="tooltip" data-placement="top" title="Show Details" class="btn btn-success btn-sm"><i class="fa fa-eye"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
<!--                                        <div class="col-md-4">-->
<!--                                            <div class="item-ads-grid highlight-ads">-->
<!--                                                <div class="item-badge-grid hot-ads">-->
<!--                                                    <a href="#">Featured Ads</a>-->
<!--                                                </div>-->
<!--                                                <div class="item-img-grid">-->
<!--                                                    <img alt="" th:src="@{/assets/img/products/product-2.jpg}" class="img-responsive img-center">-->
<!--                                                </div>-->
<!--                                                <div class="item-title">-->
<!--                                                    <a href="detail.html"><h4>Samsung Galaxy Grand Prime 530 8GB Grey</h4></a>-->
<!--                                                </div>-->
<!--                                                <div class="item-meta">-->
<!--                                                    <ul>-->
<!--                                                        <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 am</li>-->
<!--                                                        <li class="item-cat"><i class="fa fa-bars"></i> <a href="category.html">Electronics</a> , <a href="category.html">Smartphone</a></li>-->
<!--                                                        <li class="item-location"><a href="category.html"><i class="fa fa-map-marker"></i> Manchester</a></li>-->
<!--                                                        <li class="item-type"><i class="fa fa-bookmark"></i> New</li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div class="product-footer">-->
<!--                                                    <div class="item-price-grid pull-left">-->
<!--                                                        <h3>$ 100</h3>-->
<!--                                                        <span>Negotiable</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="item-action-grid pull-right">-->
<!--                                                        <ul>-->
<!--                                                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Save Favorite" class="btn btn-default btn-sm"><i class="fa fa-heart"></i></a></li>-->
<!--                                                            <li><a href="detail.html" data-toggle="tooltip" data-placement="top" title="Show Details" class="btn btn-success btn-sm"><i class="fa fa-eye"></i></a></li>-->
<!--                                                        </ul>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-4">-->
<!--                                            <div class="item-ads-grid">-->
<!--                                                <div class="item-badge-grid premium-ads">-->
<!--                                                    <a href="#">Featured Ads</a>-->
<!--                                                </div>-->
<!--                                                <div class="item-img-grid">-->
<!--                                                    <img alt="" th:src="@{/assets/img/products/product-6.jpg}" class="img-responsive img-center">-->
<!--                                                </div>-->
<!--                                                <div class="item-title">-->
<!--                                                    <a href="detail.html"><h4>Samsung Tab 3 V 116</h4></a>-->
<!--                                                </div>-->
<!--                                                <div class="item-meta">-->
<!--                                                    <ul>-->
<!--                                                        <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 am</li>-->
<!--                                                        <li class="item-cat"><i class="fa fa-bars"></i> <a href="category.html">Electronics</a> , <a href="category.html">Smartphone</a></li>-->
<!--                                                        <li class="item-location"><a href="category.html"><i class="fa fa-map-marker"></i> Manchester</a></li>-->
<!--                                                        <li class="item-type"><i class="fa fa-bookmark"></i> New</li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div class="product-footer">-->
<!--                                                    <div class="item-price-grid pull-left">-->
<!--                                                        <h3>$ 100</h3>-->
<!--                                                        <span>Negotiable</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="item-action-grid pull-right">-->
<!--                                                        <ul>-->
<!--                                                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Save Favorite" class="btn btn-default btn-sm"><i class="fa fa-heart"></i></a></li>-->
<!--                                                            <li><a href="detail.html" data-toggle="tooltip" data-placement="top" title="Show Details" class="btn btn-success btn-sm"><i class="fa fa-eye"></i></a></li>-->
<!--                                                        </ul>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </div>

                                    <div class="row text-center"  th:if="${otherGoods.size()==0}">
                                        <span class="page-404__text h3" style="color: black" th:text="${'未找到'+goods.getUser().getName()+'的其他发布'}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="widget">
                                <div class="widget-header">
<!--                                    <h3>Seller</h3>-->
                                    <h3>用户</h3>
                                </div>
                                <div class="widget-body text-center">
                                    <img alt="avatar" th:src="${goods.getUser().getAvatar()}" class="seller-avatar img-responsive">
                                    <h2 class="seller-name" th:text="${goods.getUser().getName()}">John Doe</h2>
<!--                                    <p class="seller-detail" th:text="${goods.getLocation().getPosition()}">Location: <strong>Orlando</strong><br/>-->
<!--                                        QQ : <strong th:text="${goods.getUser().getQq()}">21 June 2010</strong></p>-->
<!--                                        电话 : <strong th:text="${goods.getUser().getTel()}">21 June 2010</strong></p>-->
<!--                                        邮箱 : <strong th:text="${goods.getUser().getEmail()}">21 June 2010</strong></p>-->
<!--                                        学号/工号 : <strong th:text="${goods.getUser().getSid()}">21 June 2010</strong></p>-->
                                        Joined : <strong th:text="${T(com.suerte.lostandfound.util.TimeUtils).formatDate(goods.getUser().getCreateDate())}">21 June 2010</strong></p>
                                </div>
                                <div class="widget-footer">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button class="btn btn-info btn-block"><i class="fa fa-whatsapp"></i> 0823 4223 4234</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-warning btn-block" data-target="#sendMessageModal" data-toggle="modal"><i class="fa fa-envelope"></i> Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget-header">
<!--                                    <h3>Browse by Category</h3>-->
                                    <h3>分类</h3>
                                </div>
                                <div class="widget-body">
                                    <ul class="trends" th:with="clz=' <span class=\'item-numbers\'>'" th:each="goodsInfo:${goodsInfos}">
                                        <li><a href="#" onclick="getCategoryItem(this)" th:categorytype="${goodsInfo.getType()}"  th:utext="${goodsInfo.getName()+clz+goodsInfo.getNum()+'</span>'}">Smartphone <span class="item-numbers">(2,342)</span></a></li>
<!--                                        <li><a href="#">Watch &amp; Jewelry &nbsp;<span class="item-numbers">(2,342)</span></a></li>-->
<!--                                        <li><a href="#">Clothes &nbsp;<span class="item-numbers">(2,342)</span></a></li>-->
<!--                                        <li><a href="#">Shoes &nbsp;<span class="item-numbers">(2,342)</span></a></li>-->
<!--                                        <li><a href="#">Music &nbsp;<span class="item-numbers">(2,342)</span></a></li>-->
<!--                                        <li><a href="#">Furniture &nbsp;<span class="item-numbers">(2,342)</span></a></li>-->
<!--                                        <li><a href="#">Photography &nbsp;<span class="item-numbers">(242)</span></a></li>-->
<!--                                        <li><a href="#">Web Development &nbsp;<span class="item-numbers">(2,342)</span></a></li>-->
                                    </ul>
                                </div>
                                <script>

                                    function getCategoryItem(item){

                                        let categoryType=$(item).attr("categorytype");
                                        // let operation =$("#operationType");
                                        let href="/user/category?";
                                        // let location=href+"categoryType="+categoryType+"&operation="+operation.val()
                                        let location=href+"categoryType="+categoryType;
                                        window.location.href=location;
                                    }

                                </script>
                            </div>
<!--                            <div class="widget">-->
<!--                                <div class="widget-header">-->
<!--                                    <h3>Browse by Brand</h3>-->
<!--                                </div>-->
<!--                                <div class="widget-body">-->
<!--                                    <ul class="brands">-->
<!--                                        <li><label><input type="checkbox"> Apple</label></li>-->
<!--                                        <li><label><input type="checkbox"> Asus</label></li>-->
<!--                                        <li><label><input type="checkbox"> Acer</label></li>-->
<!--                                        <li><label><input type="checkbox"> Nexus</label></li>-->
<!--                                        <li><label><input type="checkbox"> Nokia</label></li>-->
<!--                                        <li><label><input type="checkbox"> Lenovo</label></li>-->
<!--                                        <li><label><input type="checkbox"> Samsung</label></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </section>
            <div class="footer">
                <div class="container">

                    <ul class="text-center footer-menu">
                        <li>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Send Message Modal -->
        <div aria-labelledby="sendMessageModalLabel" role="dialog" tabindex="-1" id="sendMessageModal" class="modal fade in">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                        <h4 id="sendMessageModalLabel" class="modal-title">Apply For Goods</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/user/applyForMyGoods">
<!--                            <input hidden name="uid" th:value="${currentUser}">-->
                            <input hidden name="goodsId" th:value="${goods.getId()}">
                            <div class="form-group">
                                <label class="control-label">居住区域:</label>
<!--                                <input type="text" class="form-control input-lg" placeholder="Your name" required>-->
                                <select class="form-control ant-select-selected-icon" id="location" name="location">
                                    <option selected value="-1">大致区域</option>
                                    <option th:each="location : ${locationList}"  th:object="${location}" th:value="*{id}" th:text="*{position}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">具体地址:</label>
                                <input type="text" name="locationDetail" id="locationDetail" class="form-control input-lg" placeholder="请具体到门牌号" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="tel">联系电话:</label>
<!--                                <textarea id="message-text" class="form-control input-lg" placeholder="电话" required></textarea>-->
                                <input id="tel" type="tel" name="tel" class="form-control input-lg" placeholder="电话" required/>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                        <button id="applyForm" class="btn btn-custom" th:onclick="applyForGoods([[${goods.getId()}]])" type="button"><i class="fa fa-paper-plane"></i> Send</button>
                    </div>
                    <script>
                        function checkMobile(number) {
                            if (number.startsWith("+86")) {
                                number = number.substring(3);
                            }

                            if (number.startsWith("+") || number.startsWith("0")) {
                                number = number.substring(1);
                            }
                            number = number.replace(" ", "").replace("-", "");
                            return /^((13[0-9])|(14[5-9])|(15[0-3])|(15[5-9])|(166)|(17[0-8])|(18[0-9])|(19[8-9]))\d{8}$/.test(number);
                            // return number.test("");
                        }
                    </script>
                    <script th:inline="javascript">

                        function applyForGoods(goodsId) {
                            // alert()
                            let location= $("#location")
                            let locationDetail= $("#locationDetail")
                            let tel= $("#tel")

                            if (!checkMobile(tel.val())){
                                alert("电话号码格式错误 请重新输入!")
                                tel.val('')
                                return;
                            }
                            if (locationDetail.val() === ''){
                                alert("详细地址不能为空")
                                locationDetail.val('')
                                return;
                            }

                            let applyForm = $("#applyForm");

                            // alert(location+locationDetail+tel+currentUser)
                            $.ajax({
                                type: 'post',
                                url: '/user/applyForMyGoods',
                                dataType: 'json',
                                contentType:"application/json;charset=utf-8",
                                data:JSON.stringify( {
                                    // 'uid':currentUser,
                                    'goodsId':goodsId,
                                    'locationId':location.val(),
                                    'locationDetail':locationDetail.val(),
                                    'tel':tel.val()
                                }),
                                success: function (data,status) {
                                    // alert(data)

                                    console.log(data)
                                    alert(data.msg)
                                    applyForm.val("已申请");
                                    applyForm.attr("disabled");

                                    // console.log(status)
                                },
                                error:function (data,status) {
                                    alert('error')
                                    console.log(data)
                                    console.log(status)
                                }
                            });
                            // $.post(
                            //     "/user/applyForMyGoods",
                            //     JSON.stringify({
                            //         'uid':currentUser,
                            //         'location':location,
                            //         'locationDetail':locationDetail,
                            //         'tel':tel
                            //     }),
                            //     function success(status,resp) {
                            //         alert(status)
                            //     },
                            //     'json'
                            //
                            // )
                            // $("#applyForm").submit()

                        }
                    </script>
                </div>
            </div>
        </div>
        <!-- End Message Modal -->

        <!-- Essentials -->
        <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/plugins/owl-carousel/owl.carousel.js}"></script>
        <script th:src="@{/assets/plugins/counter/jquery.countTo.js}"></script>
        <script defer th:src="@{/assets/plugins/flexslider/jquery.flexslider.js}"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                // ===============Flexslider=====================
                $('.flexslider').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails",
                    directionNav: false,
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });

                // ==========tooltip initial=================
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </body>
</html> 
