<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suerte.lostandfound.mapper.CategoryMapper">


    <select id="getMaxType" resultType="java.lang.Integer">
        select max(type) as max FROM tb_category
    </select>

    <select id="getGoodsInfo" resultType="com.suerte.lostandfound.vo.res.CategoryRes">
--         select c.name as name ,c.type as type, c.clzName as clzName ,count(g.id) as num from tb_goods as g right join tb_category as c on g.type=c.type group by(c.type)
        select c.id as id, c.name as name ,c.type as type, c.clz_name as clzName ,count(g.id) as num from tb_category as c
        left join 
        (select * from tb_goods where status=#{status} and id not in
         (select goods_id from tb_applyform where uid=#{uid})
         ) as g 
        on g.category_type=c.type group by(c.type)
    </select>
</mapper>