<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suerte.lostandfound.mapper.UserMapper">
    <!--    <resultMap id="userMap" type="com.suerte.pojo.User" autoMapping="true">-->

    <!--        <collection property="roles" ofType="role">-->
    <!--            <id property="id" column="rid"/>-->
    <!--            <result property="name" column="name"/>-->
    <!--            <result property="nameZh" column="nameZh"/>-->
    <!--        </collection>-->
    <!--    </resultMap>-->

    <resultMap id="UserMap" type="com.suerte.lostandfound.entity.User" autoMapping="true">
        <result column="id" property="id" />
        <result column="account" property="account" />
        <result column="avatar" property="avatar" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="uncrypted" property="uncrypted" />
        <result column="email" property="email" />
        <result column="qq" property="qq" />
        <result column="tel" property="tel" />
        <result column="sid" property="sid" />
        <result column="enabled" property="enabled" />
        <result column="locked" property="locked" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="user.id" keyColumn="id">
        <if test="user.enabled != false ">
            <bind name="enable" value="1"/>
            insert into sys_user(account,name,password,email,enabled,locked) values
            (#{user.account},#{user.name},#{user.password},#{user.email}, #{enable},#{user.locked})
        </if>
    </insert>
    <select id="getNormalUser" resultType="com.suerte.lostandfound.entity.User">
        SELECT * from sys_user where id not in(select uid from sys_user_role where rid='1')
    </select>
</mapper>